<a href="{{ path('jumbotron_home') }}">Jumbotron</a>
<a href="{{ path('navbar-top-fixed_home') }}">Fixed top navbar</a>
<a href="{{ path('carousel_home') }}">Carousel</a>
<a href="{{ path('cover_home') }}">Cover</a>
