{% extends 'cover/base.html.twig' %}

{% block container %}

    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                <div class="masthead clearfix">
                    <div class="inner">
                        <h3 class="masthead-brand">Cover</h3>
                        <nav class="nav nav-masthead">
                            <a class="nav-link active" href="{{ path('cover_home') }}">Home</a>
                            <a class="nav-link" href="{{ path('cover_features') }}">Features</a>
                            <a class="nav-link" href="{{ path('cover_contact') }}">Contact</a>
                        </nav>
                    </div>
                </div>

                <div class="inner cover">
                    <h1 class="cover-heading">Cover your page.</h1>
                    <p class="lead">Cover is a one-page template for building simple and beautiful home pages. Download,
                        edit the text, and add your own fullscreen background photo to make it your own.</p>
                    <p class="lead">
                        <a href="#" class="btn btn-lg btn-secondary">Learn more</a>
                    </p>
                </div>

                <div class="mastfoot">
                    <div class="inner">
                        <p>Cover template for <a href="#">Bootstrap</a>, by <a href="#">@mdo</a>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}