{% extends 'base.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="{{ asset('assets/cover/css/style.css') }}"/>
{% endblock %}

{% block body %}
    <div class="site-wrapper">
        <div class="site-wrapper-inner">
            <div class="cover-container">
                {% block container %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}