<div class="masthead clearfix">
    <div class="inner">
        <h3 class="masthead-brand">Cover</h3>
        <nav class="nav nav-masthead">
            <a class="nav-link active" href="{{ path('cover_home') }}">Home</a>
            <a class="nav-link" href="{{ path('cover_features') }}">Features</a>
            <a class="nav-link" href="{{ path('cover_contact') }}">Contact</a>
        </nav>
    </div>
</div>